.footer{
    background-color: rgb(14, 114, 150);
    height: 340px;
    flex-direction: row;
    margin-top: 50px;
    
}
.footer h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box {
    width: 100%;
    height: 85%;
}
.container-one{
    background-color: rgb(14, 114, 150);
    width: 44%;
    height: 75%;
    float: left;
    margin: 3%;
   
}
.container-one p{
    text-align: center;
    color: white;
}
.container-two{
    background-color: rgb(14, 114, 150);
    width: 44%;
    height: 75%;
    float: right;
    margin: 3%;
   
}
.foot{
    background-color: rgb(4, 90, 121);
    width: 100%;
    height: 15%;
    flex-direction: column;
    text-align: center;

}
.copy{
    width: 30%;
    background-color: rgba(255, 255, 255, 0);
    height: 80%;
    float: right;
}
.names{
    float: left;
    width: 70%;
}
.names p{
    color: white;
}
.copy p{
    color:white;
}

#cor{
    color: white;
}
#cor :hover{
    color: rgb(201, 201, 201);
}

ul{
    list-style: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(201, 201, 201);
}




/* .pe{
    background-color: darkgoldenrod;
    width: 100%;
} */