@model Usuario
@{
  ViewData["Title"] = "Cadastro";
}
<!doctyper html>
  <html lang="pt-br">

  <meta charset="utf-8">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] consulta</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/privacy.css" />
  </head>
  <body id="fundo">
    <div class="conteiner">

  <div class="formulario" id="cadastro">
        <p class="letra">Cadastro</p>
            <p id="mensagem">@ViewBag.Mensagem </p>
        <form asp-controller="Usuario" asp-action="Cadastro" method="POST">
          <p>
            <input type="text" asp-for="Nome" placeholder="Nome" />
          </p>
            <p>
            <input type="text" asp-for="Login" placeholder="Login" />
          </p>
            <p>
            <input type="password" asp-for="Senha" placeholder="Senha" />
            
          </p>
          <p><input type="submit"  value="Cadastrar"></p>
        </form>
      </div>
  </body>
  </html>
