@model Usuario
@{
  ViewData["Title"] = "Consulta";
}

<!doctype html>
  <html lang="pt-br">
  <meta charset="utf-8">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - tcc_ihosana</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/login.css" />
  <link rel="stylesheet" href="~/css/privacy.css" />
  <link rel="stylesheet" href="~/css/PartUsuario.css" />
</head>

<main>
    <div class="encima">
        <ul class="link">
            <li>
         <input type="submit" title="Veja suas consultas" value="Minhas consultas">  
            </li>
            <br>
            <li>
          <a asp-area="" asp-controller="Agenda" asp-action="Consulta"> <input type="submit" title="Faça sua consulta" value="Fazer consulta"></a>
            </li>
        </ul>
    </div>
</main>

  </html>